# PostgreSQL
POSTGRES_DB=exhibition_db
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=Super_Str0ng_Pa$$word
# container name if app is dockerized OR localhost if running app localy
POSTGRES_HOST=localhost

# controls which database and configuration the app uses.
# Options:
#   development  -> connects to local PostgreSQL
#   [Not Implemented]qa         -> connects to qa PostgreSQL
#   [Not Implemented]production -> connect to production PostgreSQL
ENVIRONMENT=development